body {
    font-family: Montserrat, serif;
}

#h1, #h2, #h3 {
    font-family: Montserrat, sans-serif;
}

p {
    color: #8f8f8f;
}

.big-heading {
    font-family: Montserrat, sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
}

.feature-box, #testimonials, #press, #cta {
    text-align: center;
}

.section-heading {
    font-size: 3rem;
    line-height: 1.5;
}

/*container*/

.container-fluid {
    padding: 7% 15%;
}

.colored-section {
    background-color: #ff4c68;
    color: #fff;
}

.white-section {
    background-color: #fff;
    color: #000;
}


/*navigation*/

.navbar-brand {
    font-family: Ubuntu, sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

nav.navbar.navbar-expand-lg.navbar-dark {
    padding: 0 0 4rem;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: Montserrat, sans-serif;
}


/*download button*/

.download-button {
    margin: 5% 3% 5% 0;
}


/*tittle section*/

#tittle .container-fluid {
    padding: 3% 15% 7%;
}

.tittle-img {
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}

/*Feature section*/

#features {
    background-color: #fff;
    position: relative;
    /*z-index: 1;*/
}

.feature-box {
    padding: 5%;
}

.feature-tittle {
    font-size: 1.5rem;
}


/*icon-color*/

.icon {
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover {
    color: #ff4c68;
}

/*Testimonial Section*/

#testimonials {
    padding: 7% 15%;
    background-color: #ef8172;
}

.testimonial-text {
    font-size: 3rem;
    line-height: 1.5;
}

.testimonial-img {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press {
    background-color: #ef8172;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

/*pricing selection*/

.pricing-text {
    font-size: 3rem;
    line-height: 1.5;
}

#pricing {
    padding: 100px;
    text-align: center;
}

.pricing-clm {
    padding: 3% 2%;
}

/*media*/

@media (max-width: 991px) {

    #title {
        text-align: center;
    }

    .tittle-img {
        position: static;
        transform: rotate(0);
    }
}

/*footer*/

#footer {
    background-color: #fff;
    text-align: center;
}

.social-icon {
    margin: 20px 10px;
}

